.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  border-radius: 0.9rem;
  padding: 2rem;

  gap: 20px;
  flex-direction: column;
}

.horizontalLine {
  color: var(--textImportante);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 1rem;
  height: 1px;
  background-color: var(--textImportante);
}

.text p {
  display: flex;
  font-size: 24px;
  justify-content: center;
}

.text ul {
  display: flex;
  list-style: none;
  font-size: 24px;
  gap: 10px;
  text-align: center;
}

@media (max-width: 480px) {
  .text h1 {
    font-size: 18px;
  }
  .text h2 {
    font-size: 16px;
  }
  .text p,
  li {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .text ul {
    flex-direction: column;
  }
}

@media (max-width: 979px) {
  .text h1 {
    font-size: 28px;
  }
  .text h2 {
    font-size: 22px;
  }
  .text p,
  li {
    font-size: 18px;
  }
}
